<!-- <h1 *ngIf="member">{{member.knownAs}}</h1> -->
<div class="row">
    <!--<div class="row" *ngIf="member">-->
    <!--<div class="row" *ngIf="member">// what we have here conditional when angular loads this component & loads up thses tabs this doesn't happen until we have the member 7 achor whose first job is to constracts our template-->
        <!--Our template is empty & inside our component code we got a view child full of the member temp's but when the component r bring constracted this is undefined// @ViewChild('memberTabs') membertabs: TabsetComponent;-->
    <!--that y se r seeing the rsponse now in the view child we could do could give this a static property & say it's static & this doesn't solve our problem right away but what we ere using is a dynamic version of the child-->
    <!--it's able to rect to changes in our component but not quickly enough to do what we r doing here ngonInit this.route.queryParams.subscribe -->
    <!--if we add static & we go back 7 we take a look check again same problem bcoz of Ngif bcoz we made this static what we need to do now is remove the conditional remove the conditional check again-->
    <!-- if u remove the conditionals u get more error the OPTION TO SOLVE IS THAT IS CLEANER OPTION IS ROUTE RESOLVERS-->
    <!-- we could use the optional chaining so that we remove these messages but we will have bad experience as we load the user profile everything popin-->
    <!--clean option route resolvers allow us toget access to the data before the component is constracted & that means that we can have everything we need when the component is constructed & we r not going see this error -->
    <!--w still need to remove the conditional for the tab set we have to use the staic verison of ViewChild & we r gonna get our data for the member in a different way so that we remove all of this error -->
        <!--use the grid system -->
    <div class="col-4">
        <div class="card" >
            <img src="{{member.photoUrl || './assets/user.png' }}" alt="{{member.knownAs}}" 
            class="card-img-top img-thumbnail" style="margin: 25px;
            width: 85%;
            height: 85%;">
         <!-- <img src="{{member.photoUrl || }}"//take alternate bcoz when a new user signs up we r not going to give them the facility to add aphoto at the same time it going to be smthing they will need to do a bit later-->
        <!--if u r good developer then we always add smthing in the alternate & we will say knownAs-->
        <div class="card-body" style="padding: 0 25px;">
            <div class="mb-2" *ngIf="(presence.onlineUsers$ | async).includes(member.username)">
                <i class="fa fa-user-circle text-success"></i> Online Now
            </div>
            <!-- <div>
                <strong>Location:</strong>
                <p>{{member.city}}, {{member.country}}</p>
            </div> -->
            <div><strong>Age:</strong><p>{{member.age}} </p>
            </div>
            <div>
                <strong>Location:</strong><p>{{member.city}}, {{member.country}}</p>
            </div>
            <div>
                <strong>Last Active:</strong><p>{{member.lastActive | timeago}}</p>
            </div>
            <div><strong>Member since:</strong><p>{{member.created | date: 'dd MMM yyyy'}}</p>
            </div>
        </div>
        <!--card footer -->
        <div class="card-footer" style="padding: 10px 15px;
        background-color: #fff;
        border-top: none;">
            <!--class="btn-group d-flex">//this means we going to use css flex box system -->
            <div class="btn-group d-flex">
                <button class="btn btn-primary">Like</button>
                <button (click)="selectTab(3)" class="btn btn-success">Message</button>
                <!--for our tab bassically they start from 0 & then go on bcoz this tabs r static theyr not going anywhere particularly complex with them just hard code 3 inside the parameters selectTab(3)-->

            </div>
        </div>
    </div>
    </div>

    <div class="col-8">
        <tabset class="member-tabset" #memberTabs>
            <!--add some syling need to customize this tabset class we r talking about encupsulation this is the example of the componnet that hasn't tuned off excess encapsulation 
            they've encapsulated their own styles than give it a class & then we have to add the styles that we want in a global style aheet & then we can affect what 
        then we can affect whats inside here -->
        <tab heading= 'About {{member.knownAs}}' (selectTab)="onTabActivated($event); selectTab(0)">
            <h4>Description</h4>
            <p>{{member.introdution}}</p>
            <h4>Looking For </h4>
            <p>{{member.lookingFor}}</p>
        </tab>
        <tab heading= 'Interests' (selectTab)="onTabActivated($event); selectTab(1)">
            <h4>Interests</h4>
            <p>{{member.interests}}</p>
           
        </tab>
        <tab heading= 'Photos' (selectTab)="onTabActivated($event)">
            <ngx-gallery [options]= "galleryOptions" 
            [images]="galleryImages" style=" display: inline-block; margin-bottom: 20px;"></ngx-gallery>
        </tab>
        <tab heading= 'Messages' (selectTab)="onTabActivated($event)">
           <!-- <app-member-messages [username]="member.username"></app-member-messages> -->
           <!-- <app-member-messages [messages]="messages" [username]="member.username"></app-member-messages> -->
           <!--now we can access the messsages directly from our message service inside this component head over member-message.componenet.ts-->
           <app-member-messages [username]="member.username"></app-member-messages>
           <!--just ot provide username property here & set this to member username -->
           <!--add hte -->
        </tab>

        </tabset>
    </div>
</div>

<!--//when angular created this template angular didn't know that our user was about to exist 
//to avoid error in our console is add a conditionals to see if we have the member before we try display the member '-->
<!--<h1 *ngIf="member">//then we have to check to se if we have a member before we actually display the users names -->