<ngx-spinner>
   <h3>Loading...</h3>
</ngx-spinner>
<app-nav></app-nav>
<div class="container" style="margin-top: 100px">
   <router-outlet></router-outlet>
   <!-- <app-home></app-home> -->
   <!-- home component is the child of our app component// register componenet is a child of our home component// -->

   <!-- <ul> -->
   <!-- <li *ngFor='let user of users' >{{user.id}} - {{user.userName}}    </li> -->
   <!--when we looping over a contant in angular is we use structural director means which modify the domain object model in our html in some way <li *  -->
   
   <!-- </ul> -->
</div>

  