
    <form [formGroup]='$any(registerForm)' (ngSubmit)=" registerForm.valid && register()" autocomplete="off">
    <!--ngSubmit take an enter or just pressing enter button we want//(ngSubmit)=" registerForm.valid && register()"//then the register method will only be enable if we actually have a valid form  -->
        <h2 class="text-center text-primary">Sign up</h2>
    <hr>
    
    <div class="form-group">
        <label class="control-label" style="margin-right: 10px;">I am a: </label>
        <label class="radio-inline">
            <input type="radio" value="male" formControlName='gender'> Male
        </label>
        <label class="radio-inline">
            <input type="radio" value="female" formControlName='gender' class="ml-3"> Female
        </label>
        </div>
    
    
    <app-text-input [formControl]='$any(registerForm.controls) ["username"]' 
    [label]='"Username"' [type]='"text"'></app-text-input>
    <app-text-input [formControl]='$any(registerForm.controls) ["knownAs"]' 
    [label]='"known As"' [type]='"text"'></app-text-input>
    <app-date-input [formControl]='$any(registerForm.controls) ["dateOfBirth"]' 
    [label]='"Date Of Birth"' [maxDate]='maxDate'></app-date-input>
    <app-text-input [formControl]='$any(registerForm.controls) ["city"]' 
    [label]='"City"' [type]='"text"'></app-text-input>
    <app-text-input [formControl]='$any(registerForm.controls) ["country"]' 
    [label]='"Country"' [type]='"text"'>
    
    </app-text-input>
    <app-text-input [formControl]='$any(registerForm.controls)["password"]' 
    [label]='"Password"' [type]='"password"'>
    </app-text-input>
    <app-text-input [formControl]='$any(registerForm.controls)["confirmPassword"]'
     [label]='"Confirm Password"' [type]='"password"'></app-text-input>

    <div class="row" *ngIf="validationErrors.length > 0">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div>
    <!--we'll never should actually see this bcoz our client side validation is doing exactly the same as our serve side -->
    
        <div class="form-group text-center">
        <button [disabled]='!registerForm.valid' class="btn btn-success mr-2" type="submit" >Register</button>
        <!--[disabled]='!registerForm.valid'//we r checking to make sure the form is not valid & id so then we r going to disable the better -->
        <button class="btn btn-outline-danger mr-2" (click)="cancel()" type="button">Cancel</button>
    
</div>
</form>

<!--shows wats going on as we dod this -->
<!-- <p>Form value: {{registerForm.value | json}}</p> -->
<!-- <p>Form status: {{registerForm.status | json}}</p> -->
<!--registerForm.status// tell us if the form is valid or invalid -->

