img.img-thumbnail {
    height:100px;
    min-width:100px !important;
    /* this is just for our image in the photo editor going to tidy up at the same time using !important flag */
    margin-bottom: 2px;
}

/* target the file overclass and the file overclass what we r using inside here */ 
.nv-file-over {
    border: dotted 3px rgb(179, 18, 18);

}
/* get rid of that nasty text using input specify input type c*/
input[type=file] {
    color: transparent;
    
}